extends ../layout

block content
    if novel.length != 0
        h4.text-center.mt-4 You Have Added These Stories To Your Library
        .row
            each item in novel
                .col-12.col-md-6.col-lg-3.mt-2
                    a(href="/api/novels/"+item._id)
                        .card(style='width: 18rem;')
                            img.card-img-top(src=item.image alt='Card image cap',height="200px")
                            .card-body
                                h5.card-title.text-center=item.name
    else
        h4.text-center.mt-4 You Have Not Added Stories In Your Library
                            
            
