.jumbotron.mt-4.m-0.drk
  .row
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li BLOG
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li ABOUT
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li HELP
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li CONTACT
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li TERMS
    .col-6.col-sm-1
      ul.mt-3.ml-0.drk2
        a#anchor(href='')
          li CONDITIONS
    .col-6
      .row
        .col-0.col-sm-4
        .col-12.col-sm-4.mt-3
          a(target='_blank' href='https://linkedin.com/in/hamza-akram-793765174')
            i.fab.fa-linkedin.fa-2x.mr-2(style='color: black')
          a(target='_blank' href='https://facebook.com/itzme.hamza/')
            i.fab.fa-facebook.fa-2x.mr-2(style='color: black')
          a(target='_blank' href='https://www.instagram.com/hamza_akram07/?hl=en')
            i.fab.fa-instagram.fa-2x.mr-2(style='color: black')
          a(target='_blank' href='https://github.com/imhamza1')
            i.fab.fa-github.fa-2x.mr-2(style='color: black')
        .col-0.col-sm-4
