extends ../layout

block content
    h3.text-center Enter Title, Image and Content for your new chapter
    .row
        .col-3
        .col-6.mt-4
            form(action="/api/chapters/", method="post",enctype="multipart/form-data")
                
                input(type="hidden",value=novel._id,name="novel_id")
                .form-group
                    label(for="image") Upload Cover Image
                    input#image(type="file",name="image",class="form-control-file")
                .form-group
                    input#chapter(type="text",class="form-control",name="title",placeholder="Enter Chapter Name or Number")
                .form-group
                
                .form-group
                    label(for="content") Enter Content
                    textarea#content(name="content", cols="30", rows="10",class="form-control")
                
                input(type="submit",class="btn btn-info btn-sm")
        .col-3
    