extends ../layout

block content
    if novel
        h3.m-3 You Have Written These Stories

        .row
            each item in novel
                .col-12.col-md-6.col-lg-3.mt-2
                    a(href="/api/novels/"+item._id)
                        .card(style='width: 18rem;')
                            img.card-img-top(src=item.image alt='Card image cap',height="200px")
                            .card-body
                                h5.card-title.text-center=item.name
    else
        h3.text-center.my-4 No Stories Found!
        .text-center
            h5.mb-4 Wanna Write A Story? 
            a(href="/api/novels/new",class="btn btn-outline-info") Create a new story
                        
            
