extends ../layout

block content
    form(action="/api/novels/", method="post",enctype="multipart/form-data")
        .row
            .col-3
            .col-6
                .form-group
                    label(for="name") Enter Name
                    input#name(type="text",class="form-control",name="name",placeholder="Enter Name of the novel")
                .form-group
                    <div class="dropdown">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Genre</label>
                            </div>
                            if genre
                                <select class="custom-select" id="inputGroupSelect01" name="genre" >
                                    each gen in genre
                                        option(value=gen.name) #{gen.name}
                                </select>
                        </div>
                    </div>
                .form-group
                    label(for="theme") Enter Theme
                    textarea#theme(name="theme", cols="30", rows="10",class="form-control")
                .form-group
                    label(for="image") Upload Cover Image
                    input#image(type="file",name="image",class="form-control-file")
                input(type="submit",class="btn btn-info btn-sm")
            .col-3
        