extends ../layout

block content
    h5.text-center.mt-4 Add new genre
    .row
        .col-3
        .col-6
            .card.p-4.mt-4
                form(action="/api/genre/", method="post",enctype="multipart/form-data")
                    .form-group
                        label(for="name") Enter Name
                        input#name(type="text",class="form-control",name="name",placeholder="Enter Genre")
                    .form-group
                        label(for="image") Upload Image For Genre
                        input#image(type="file",name="image",class="form-control-file")
                    input(type="submit",class="btn btn-info btn-sm")
        .col-3
        