extends ../layout

block content
    form(action="/api/genre/", method="post")
        .form-group
            label(for="name") Enter Name
            input#name(type="text",class="form-control",name="name",placeholder="Enter Name of the novel")
        input(type="submit",class="btn btn-info btn-sm")